The following hosts will be decomissioned

{% for host in groups['all'] %}
"{{ hostvars[host]['hostname'] }}"  "{{ hostvars[host]['stage_date_var'] }}"   "{{ hostvars[host]['deletion_date_var'] }}"
{% endfor %}